In [2]:
import pandas as pd

## Major League

## Pitchers

In [3]:
pitchers = pd.read_csv('/Users/kellyjara/Desktop/Datasets/Sports/Pitchers.csv')
pitchers

,last_name,first_name,player_id,year,player_age,p_game,p_formatted_ip,pa,ab,hit,...,xslg,woba,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,sweet_spot_percent,barrel_batted_rate,Unnamed: 32
0,Colon,Bartolo,112526,2015,42,33,194.2,815,771,217,...,0.427,0.316,0.314,0.294,0.159,88.9,11.8,34.1,5.4,NaN
1,Burnett,A.J.,150359,2015,38,26,164.0,699,633,174,...,0.406,0.315,0.323,0.326,0.145,89.8,5.6,30.4,4.8,NaN
2,Hudson,Tim,218596,2015,39,24,123.2,525,476,134,...,0.428,0.327,0.347,0.354,0.138,90.3,4.5,26.6,4.8,NaN
3,Buehrle,Mark,279824,2015,36,32,198.2,827,768,214,...,0.457,0.321,0.335,0.319,0.171,87.0,11.7,33.3,4.9,NaN
4,Sabathia,CC,282332,2015,34,29,167.1,726,659,188,...,0.378,0.343,0.304,0.311,0.125,87.8,10.7,29.1,4.1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1008,Bradish,Kyle,680694,2023,26,11,53.0,227,207,56,...,0.431,0.320,0.327,0.321,0.168,91.0,9.6,38.6,8.9,NaN
1009,Waldichuk,Ken,686610,2023,25,15,57.2,281,237,75,...,0.482,0.419,0.372,0.372,0.217,88.9,14.1,35.9,9.2,NaN
1010,Brown,Hunter,686613,2023,24,13,75.1,306,275,64,...,0.355,0.293,0.300,0.309,0.123,90.3,3.6,29.5,7.3,NaN
1011,Varland,Louie,686973,2023,25,9,51.2,218,201,51,...,0.477,0.334,0.339,0.311,0.218,90.1,11.6,35.3,10.5,NaN
1012,Elder,Bryce,693821,2023,24,13,77.0,312,286,69,...,0.396,0.298,0.315,0.319,0.139,90.9,7.0,27.6,6.8,NaN

## Hitters

In [12]:
hitters = pd.read_csv('/Users/kellyjara/Desktop/Datasets/Sports/Hitters.csv')
hitters

,last_name,first_name,player_id,year,player_age,ab,pa,hit,single,double,...,xslg,woba,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,sweet_spot_percent,barrel_batted_rate,Unnamed: 30
0,Hunter,Torii,116338,2015,39,521,567,125,81,22,...,0.376,0.304,0.294,0.289,0.142,88.5,10.8,28.5,5.0,NaN
1,Ortiz,David,120074,2015,39,528,614,144,70,37,...,0.616,0.379,0.420,0.388,0.314,93.0,15.7,34.8,13.1,NaN
2,Rodriguez,Alex,121347,2015,39,523,620,131,75,22,...,0.495,0.361,0.368,0.356,0.248,91.4,12.0,31.4,10.9,NaN
3,Ramirez,Aramis,133380,2015,37,475,516,117,68,31,...,0.405,0.309,0.304,0.293,0.164,87.4,15.8,33.5,5.6,NaN
4,Beltre,Adrian,134181,2015,36,567,619,163,109,32,...,0.482,0.337,0.360,0.346,0.186,89.5,12.6,35.7,5.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1267,Volpe,Anthony,683011,2023,22,230,254,44,26,7,...,0.394,0.273,0.303,0.292,0.174,89.4,14.8,34.4,9.7,NaN
1268,Vaughn,Andrew,683734,2023,25,242,275,60,32,19,...,0.449,0.334,0.344,0.336,0.196,91.3,13.1,30.6,9.3,NaN
1269,Pasquantino,Vinnie,686469,2023,25,231,260,57,31,17,...,0.449,0.329,0.350,0.355,0.170,89.3,17.4,37.8,7.5,NaN
1270,Wiemer Jr.,Joey,686894,2023,24,200,222,43,23,12,...,0.390,0.298,0.295,0.283,0.181,88.6,11.6,32.1,10.2,NaN
1271,Yoshida,Masataka,807799,2023,29,232,262,69,46,15,...,0.443,0.365,0.353,0.359,0.163,89.3,2.7,26.3,6.3,NaN

## Minor League

In [10]:
Min_league = pd.read_csv('/Users/kellyjara/Desktop/Datasets/Sports/Minor League Hitters.csv')
Min_league

,Name,Team,Level,Age,G,AB,PA,H,1B,2B,...,IBB,SO,HBP,SF,SH,GDP,SB,CS,AVG,PlayerId
0,Tomas Telis,LAD,AAA,30-31,181,698,766,204,167,21,...,0,89,8,3,1,18,5,1,0.292264,10067
1,Wilfredo Tovar,NYM,AAA,29-29,100,355,407,98,75,16,...,0,46,3,4,0,20,13,4,0.276056,10416
2,Jon Singleton,MIL,AAA,30-31,183,634,797,146,79,30,...,1,202,1,8,0,8,3,2,0.230284,10441
3,Cheslor Cuthbert,NYM,AAA,28-28,97,302,350,67,37,13,...,0,68,5,0,0,10,1,1,0.221854,10473
4,Derek Dietrich,NYY,"AA,AAA",31-32,141,437,534,91,47,25,...,0,161,36,3,0,8,0,0,0.208238,10542
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2828,Braulio Vasquez,ATL,"A,A+",22-23,142,449,530,107,71,24,...,0,120,15,3,4,5,66,18,0.238307,sa924858
2829,Fabricio Macias,PIT,"A,A+,AA,AAA",23-25,167,577,622,155,107,28,...,0,146,8,5,1,9,18,9,0.268631,sa927338
2830,Yasel Antuna,WSN,"A+,AA",21-23,265,940,1121,199,126,46,...,1,258,7,12,1,12,34,14,0.211702,sa962601
2831,Kevin Maitan,LAA,"A+,AA,CPX",21-23,200,687,775,159,118,28,...,0,237,13,5,0,12,3,3,0.231441,sa969045
2832,Lazaro Armenteros,OAK,"A,A+,AA",22-24,163,522,610,131,82,20,...,1,245,13,3,3,6,42,18,0.250958,sa969091

In [11]:
Min_Pitch = pd.read_csv('/Users/kellyjara/Desktop/Datasets/Sports/Minor League Pitchers.csv')
Min_Pitch

,Name,Team,Level,Age,W,L,ERA,G,GS,CG,...,R,ER,HR,BB,IBB,HBP,WP,BK,SO,PlayerId
0,Patrick Schuster,ARI,"AA,AAA",24-26,7,4,3.635762,134,0,0,...,64,61,8,63,1,10,12,1,145,10029
1,Keyvius Sampson,CIN,"A,AA,AAA,R",24-30,12,18,4.017426,74,44,0,...,123,111,18,138,1,8,14,1,245,10039
2,Ashur Tolliver,BAL,"A-,AA,AAA,R",27-29,5,3,3.751708,108,2,0,...,63,61,8,80,1,5,12,1,146,10044
3,Johnny Hellweg,MIL,"A+,AA,AAA",26-29,3,17,5.915731,54,22,0,...,99,78,10,85,0,21,21,2,87,10065
4,Ian Krol,DET,"A+,AAA,R",24-31,10,8,3.831683,177,2,0,...,95,86,18,98,3,13,17,1,234,10066
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5873,Tom de Blok,DET,"A,A-,A+",21-23,11,21,3.909502,64,51,0,...,139,128,26,93,0,11,11,2,234,sa971762
5874,Adrian Alcantara,KCR,"A,A+,AA,R",17-23,22,23,4.487738,94,59,1,...,209,183,48,147,1,28,39,11,375,sa974592
5875,Osvaldo Hernandez,SDP,"A,A-,A+,AA,R",19-24,22,23,3.777465,106,69,0,...,178,149,35,102,1,21,26,9,322,sa975541
5876,Parker Curry,LAD,"A,A+,AA,AAA",23-25,15,20,3.916560,97,28,0,...,130,113,33,75,0,2,22,1,280,sa977821
5877,Victor Castaneda,MIL,"A,A+,AA,AAA,R",19-23,18,22,4.570094,95,56,2,...,184,163,49,126,0,10,18,0,342,sa978399

In [15]:
Min_Pitch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5878 entries, 0 to 5877
Data columns (total 27 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      5878 non-null   object
 1   Team      5875 non-null   object
 2   Level     5878 non-null   object
 3   Age       5878 non-null   object
 4   W         5878 non-null   int64
 5   L         5878 non-null   int64
 6   ERA       5878 non-null   float64
 7   G         5878 non-null   int64
 8   GS        5878 non-null   int64
 9   CG        5878 non-null   int64
 10  ShO       5878 non-null   int64
 11  SV        5878 non-null   int64
 12  BS        5878 non-null   int64
 13  HLD       0 non-null      float64
 14  IP        5878 non-null   float64
 15  TBF       5878 non-null   int64
 16  H         5878 non-null   int64
 17  R         5878 non-null   int64
 18  ER        5878 non-null   int64
 19  HR        5878 non-null   int64
 20  BB        5878 non-null   int64
 21  IBB       5878 non-null   int64
 22  HBP       5878 non-null   int64
 23  WP        5878 non-null   int64
 24  BK        5878 non-null   int64
 25  SO        5878 non-null   int64
 26  PlayerId  5878 non-null   object
dtypes: float64(3), int64(19), object(5)
memory usage: 1.2+ MB