## Imports

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
#visuals

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns

### MLB Pitchers

In [4]:
MLB_Pitch = pd.read_csv('/Users/kellyjara/Desktop/Project3/Data/MLB Pitchers.csv')
MLB_Pitch

,last_name,first_name,player_id,year,p_game,p_formatted_ip,pa,ab,hit,home_run,...,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,pitch_count,opposite_percent,n,Unnamed: 35
0,Colon,Bartolo,112526,2015,33,194.2,815,771,217,25,...,0.314,0.294,0.159,88.9,11.8,5.4,2706,30.0,2683,NaN
1,Burnett,A.J.,150359,2015,26,164.0,699,633,174,11,...,0.323,0.326,0.145,89.8,5.6,4.8,2500,25.0,2490,NaN
2,Hudson,Tim,218596,2015,24,123.2,525,476,134,13,...,0.347,0.354,0.138,90.3,4.5,4.8,1854,22.5,1848,NaN
3,Buehrle,Mark,279824,2015,32,198.2,827,768,214,22,...,0.335,0.319,0.171,87.0,11.7,4.9,2829,23.4,2818,NaN
4,Sabathia,CC,282332,2015,29,167.1,726,659,188,28,...,0.304,0.311,0.125,87.8,10.7,4.1,2703,20.8,2693,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1007,Bradish,Kyle,680694,2023,13,65.0,273,249,64,6,...,0.323,0.318,0.163,90.8,9.4,7.9,1090,31.9,1090,NaN
1008,Waldichuk,Ken,686610,2023,17,61.1,298,251,79,14,...,0.364,0.367,0.208,88.9,13.6,8.7,1162,21.9,1162,NaN
1009,Brown,Hunter,686613,2023,14,81.0,332,299,71,8,...,0.296,0.307,0.119,90.3,4.0,6.7,1346,27.1,1346,NaN
1010,Varland,Louie,686973,2023,10,56.0,241,222,60,14,...,0.346,0.314,0.231,90.9,12.7,11.2,918,27.1,918,NaN
1011,Elder,Bryce,693821,2023,14,83.0,334,308,73,8,...,0.310,0.313,0.136,90.3,6.3,6.7,1330,20.1,1330,NaN

In [5]:
MLB_Pitch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1012 entries, 0 to 1011
Data columns (total 36 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   last_name           1012 non-null   object
 1    first_name         1012 non-null   object
 2   player_id           1012 non-null   int64
 3   year                1012 non-null   int64
 4   p_game              1012 non-null   int64
 5   p_formatted_ip      1012 non-null   float64
 6   pa                  1012 non-null   int64
 7   ab                  1012 non-null   int64
 8   hit                 1012 non-null   int64
 9   home_run            1012 non-null   int64
 10  strikeout           1012 non-null   int64
 11  walk                1012 non-null   int64
 12  k_percent           1012 non-null   float64
 13  bb_percent          1012 non-null   float64
 14  on_base_plus_slg    1012 non-null   float64
 15  p_earned_run        1012 non-null   int64
 16  p_run               1012 non-null   int64
 17  p_save              1012 non-null   int64
 18  p_blown_save        1012 non-null   int64
 19  p_out               1012 non-null   int64
 20  p_win               1012 non-null   int64
 21  p_loss              1012 non-null   int64
 22  p_balk              1012 non-null   int64
 23  p_era               1012 non-null   float64
 24  xba                 1012 non-null   float64
 25  xslg                1012 non-null   float64
 26  xwoba               1012 non-null   float64
 27  xobp                1012 non-null   float64
 28  xiso                1012 non-null   float64
 29  exit_velocity_avg   1012 non-null   float64
 30  launch_angle_avg    1012 non-null   float64
 31  barrel_batted_rate  1012 non-null   float64
 32  pitch_count         1012 non-null   int64
 33  opposite_percent    1012 non-null   float64
 34  n                   1012 non-null   int64
 35  Unnamed: 35         0 non-null      float64
dtypes: float64(15), int64(19), object(2)
memory usage: 284.8+ KB

In [6]:
# Combining last and first name creating one column with full name

In [7]:
MLB_Pitch['Name'] = MLB_Pitch[' first_name'].map(str) + ' ' + MLB_Pitch['last_name'].map(str)
MLB_Pitch.head()

,last_name,first_name,player_id,year,p_game,p_formatted_ip,pa,ab,hit,home_run,...,xobp,xiso,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,pitch_count,opposite_percent,n,Unnamed: 35,Name
0,Colon,Bartolo,112526,2015,33,194.2,815,771,217,25,...,0.294,0.159,88.9,11.8,5.4,2706,30.0,2683,NaN,Bartolo Colon
1,Burnett,A.J.,150359,2015,26,164.0,699,633,174,11,...,0.326,0.145,89.8,5.6,4.8,2500,25.0,2490,NaN,A.J. Burnett
2,Hudson,Tim,218596,2015,24,123.2,525,476,134,13,...,0.354,0.138,90.3,4.5,4.8,1854,22.5,1848,NaN,Tim Hudson
3,Buehrle,Mark,279824,2015,32,198.2,827,768,214,22,...,0.319,0.171,87.0,11.7,4.9,2829,23.4,2818,NaN,Mark Buehrle
4,Sabathia,CC,282332,2015,29,167.1,726,659,188,28,...,0.311,0.125,87.8,10.7,4.1,2703,20.8,2693,NaN,CC Sabathia

In [8]:
# Renaming columns to match minor league df

In [9]:
MLB_Pitch.rename(columns = {'p_game':'G','p_formatted_ip':'IP', 'hit':'H'
                            , 'home_run':'HR', 'strikeout':'SO','walk':'BB',
                            'p_earned_run':"ER", 'p_run':'R', 'p_save':'SV',
                            'p_blown_save':'BS', 'p_win':'W', 'p_loss':'L', 'p_balk':'BK',
                            'p_era':'ERA','k_percent':'K%', 'bb_percent':'BB%', 
                            'pitch_count':'Pitches', 'opposite_percent':'Oppo%'
                           }, inplace = True)

In [10]:
# Dropping columns

In [11]:
MLB_Pitch = MLB_Pitch.drop(columns = ['last_name', ' first_name', 'player_id', 'year','ab','pa','xba',
                                      'xslg', 'xwoba', 'xobp', 'xiso','p_out', 'exit_velocity_avg',
                                      'launch_angle_avg', 'on_base_plus_slg', 'barrel_batted_rate', 
                                      'Unnamed: 35', 'n'], axis = 1)

In [12]:
MLB_Pitch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1012 entries, 0 to 1011
Data columns (total 19 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   G        1012 non-null   int64
 1   IP       1012 non-null   float64
 2   H        1012 non-null   int64
 3   HR       1012 non-null   int64
 4   SO       1012 non-null   int64
 5   BB       1012 non-null   int64
 6   K%       1012 non-null   float64
 7   BB%      1012 non-null   float64
 8   ER       1012 non-null   int64
 9   R        1012 non-null   int64
 10  SV       1012 non-null   int64
 11  BS       1012 non-null   int64
 12  W        1012 non-null   int64
 13  L        1012 non-null   int64
 14  BK       1012 non-null   int64
 15  ERA      1012 non-null   float64
 16  Pitches  1012 non-null   int64
 17  Oppo%    1012 non-null   float64
 18  Name     1012 non-null   object
dtypes: float64(5), int64(13), object(1)
memory usage: 150.3+ KB

In [13]:
# Adding League Column

In [14]:
MLB_Pitch['League'] = 'Major'

In [15]:
# Adding WHIP Column

In [16]:
MLB_Pitch['WHIP'] = (MLB_Pitch['BB'] + MLB_Pitch['H']) / MLB_Pitch['IP']

In [17]:
# Reordering Columns

In [18]:
MLB_Pitch = MLB_Pitch[['Name', 'League','Pitches', 'G', 'W','L','IP','H','R','HR','SO','BB',
                       'ER','SV','BS','BK','ERA','WHIP','Oppo%','K%','BB%']]
MLB_Pitch.head()

,Name,League,Pitches,G,W,L,IP,H,R,HR,...,BB,ER,SV,BS,BK,ERA,WHIP,Oppo%,K%,BB%
0,Bartolo Colon,Major,2706,33,14,13,194.2,217,94,25,...,24,90,0,0,0,4.16,1.240989,30.0,16.7,2.9
1,A.J. Burnett,Major,2500,26,9,7,164.0,174,64,11,...,49,58,0,0,1,3.18,1.359756,25.0,20.5,7.0
2,Tim Hudson,Major,1854,24,8,9,123.2,134,62,13,...,37,61,0,0,0,4.44,1.387987,22.5,12.2,7.0
3,Mark Buehrle,Major,2829,32,15,8,198.2,214,100,22,...,33,84,0,0,0,3.81,1.246216,23.4,11.0,4.0
4,CC Sabathia,Major,2703,29,6,10,167.1,188,92,28,...,50,88,0,0,1,4.73,1.424297,20.8,18.9,6.9

### MiLB Pitchers

In [19]:
Min_Pitch = pd.read_csv('/Users/kellyjara/Desktop/Project3/Data/MiLB Pitchers .csv')
Min_Pitch

,Name,Team,Level,W,L,ERA,G,GS,CG,ShO,...,K/9,K%,BB%,ERA.1,FIP,WHIP,Pitches,Strikes,Oppo%,PlayerId
0,Patrick Schuster,ARI,"AA,AAA",7,4,3.635762,134,0,0,0,...,8.642384,0.220700,0.095890,3.635762,3.768241,1.403974,2473,1565,0.318078,10029
1,Keyvius Sampson,CIN,"A,AA,AAA,R",12,18,4.017426,74,44,0,0,...,8.867292,0.223949,0.126143,4.017426,4.157083,1.443700,4301,2616,0.332857,10039
2,Ashur Tolliver,BAL,"A-,AA,AAA,R",5,3,3.751708,108,2,0,0,...,8.979498,0.227769,0.124805,3.751708,3.851914,1.476082,2618,1622,0.395122,10044
3,Johnny Hellweg,MIL,"A+,AA,AAA",3,17,5.915731,54,22,0,0,...,6.598315,0.151568,0.148084,5.915731,5.551634,1.761236,1814,1053,0.326260,10065
4,Ian Krol,DET,"A+,AAA,R",10,8,3.831683,177,2,0,0,...,10.425743,0.261161,0.109375,3.831683,4.037189,1.480198,3612,2229,0.352087,10066
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5890,Tom de Blok,DET,"A,A-,A+",11,21,3.909502,64,51,0,0,...,7.147059,0.187952,0.074699,3.909502,4.036459,1.255656,4501,2975,0.304204,sa971762
5891,Adrian Alcantara,KCR,"A,A+,AA,R",22,24,4.524194,95,60,1,1,...,9.145161,0.236250,0.092500,4.524194,4.793893,1.327957,5312,3411,0.254335,sa974592
5892,Osvaldo Hernandez,SDP,"A,A-,A+,AA,R",22,23,3.777465,106,69,0,0,...,8.163381,0.212121,0.067194,3.777465,4.108369,1.312676,5612,3603,0.285980,sa975541
5893,Parker Curry,LAD,"A,A+,AA,AAA",15,20,3.916560,97,28,0,0,...,9.704750,0.250896,0.067204,3.916560,4.012660,1.274711,4162,2773,0.286280,sa977821
5894,Victor Castaneda,MIL,"A,A+,AA,AAA,R",18,22,4.570094,95,56,2,0,...,9.588786,0.245690,0.090517,4.570094,4.845163,1.367601,5256,3327,0.302895,sa978399

In [20]:
Min_Pitch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5895 entries, 0 to 5894
Data columns (total 35 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      5895 non-null   object
 1   Team      5892 non-null   object
 2   Level     5895 non-null   object
 3   W         5895 non-null   int64
 4   L         5895 non-null   int64
 5   ERA       5895 non-null   float64
 6   G         5895 non-null   int64
 7   GS        5895 non-null   int64
 8   CG        5895 non-null   int64
 9   ShO       5895 non-null   int64
 10  SV        5895 non-null   int64
 11  BS        5895 non-null   int64
 12  HLD       0 non-null      float64
 13  IP        5895 non-null   float64
 14  TBF       5895 non-null   int64
 15  H         5895 non-null   int64
 16  R         5895 non-null   int64
 17  ER        5895 non-null   int64
 18  HR        5895 non-null   int64
 19  BB        5895 non-null   int64
 20  IBB       5895 non-null   int64
 21  HBP       5895 non-null   int64
 22  WP        5895 non-null   int64
 23  BK        5895 non-null   int64
 24  SO        5895 non-null   int64
 25  K/9       5895 non-null   float64
 26  K%        5895 non-null   float64
 27  BB%       5895 non-null   float64
 28  ERA.1     5895 non-null   float64
 29  FIP       5895 non-null   float64
 30  WHIP      5895 non-null   float64
 31  Pitches   5895 non-null   int64
 32  Strikes   5895 non-null   int64
 33  Oppo%     5895 non-null   float64
 34  PlayerId  5895 non-null   object
dtypes: float64(10), int64(21), object(4)
memory usage: 1.6+ MB

In [21]:
#Creating column with total number of walks; intentional and unintentional

In [22]:
Min_Pitch['Walks'] = Min_Pitch['BB'] + Min_Pitch['IBB']

In [23]:
# Dropping columns

In [24]:
Min_Pitch = Min_Pitch.drop(columns = ['Team', 'Level', 'GS', 'CG', 'ShO',
                                      'HLD','TBF','IBB','BB','PlayerId','HBP', 
                                      'WP','K/9','ERA.1','FIP','Strikes'], axis = 1)

In [25]:
# Adding League Column

In [26]:
Min_Pitch['League'] = 'Minor'

In [27]:
#Renaming Walk to BB to match MLB df

In [28]:
Min_Pitch.rename(columns = {'Walks':'BB'}, inplace = True)

In [29]:
#Reordering columns

In [30]:
Min_Pitch = Min_Pitch[['Name', 'League','Pitches', 'G', 'W','L','IP','H','R','HR','SO','BB',
                       'ER','SV','BS','BK','ERA','WHIP','Oppo%','K%','BB%']]
Min_Pitch.head()

,Name,League,Pitches,G,W,L,IP,H,R,HR,...,BB,ER,SV,BS,BK,ERA,WHIP,Oppo%,K%,BB%
0,Patrick Schuster,Minor,2473,134,7,4,151.0,149,64,8,...,64,61,8,7,1,3.635762,1.403974,0.318078,0.220700,0.095890
1,Keyvius Sampson,Minor,4301,74,12,18,248.2,221,123,18,...,139,111,0,2,1,4.017426,1.443700,0.332857,0.223949,0.126143
2,Ashur Tolliver,Minor,2618,108,5,3,146.1,136,63,8,...,81,61,3,7,1,3.751708,1.476082,0.395122,0.227769,0.124805
3,Johnny Hellweg,Minor,1814,54,3,17,118.2,124,99,10,...,85,78,11,1,2,5.915731,1.761236,0.326260,0.151568,0.148084
4,Ian Krol,Minor,3612,177,10,8,202.0,201,95,18,...,101,86,21,7,1,3.831683,1.480198,0.352087,0.261161,0.109375

## Combining Both DF

In [31]:
Pitchers = pd.concat([MLB_Pitch, Min_Pitch])
Pitchers

,Name,League,Pitches,G,W,L,IP,H,R,HR,...,BB,ER,SV,BS,BK,ERA,WHIP,Oppo%,K%,BB%
0,Bartolo Colon,Major,2706,33,14,13,194.2,217,94,25,...,24,90,0,0,0,4.160000,1.240989,30.000000,16.700000,2.900000
1,A.J. Burnett,Major,2500,26,9,7,164.0,174,64,11,...,49,58,0,0,1,3.180000,1.359756,25.000000,20.500000,7.000000
2,Tim Hudson,Major,1854,24,8,9,123.2,134,62,13,...,37,61,0,0,0,4.440000,1.387987,22.500000,12.200000,7.000000
3,Mark Buehrle,Major,2829,32,15,8,198.2,214,100,22,...,33,84,0,0,0,3.810000,1.246216,23.400000,11.000000,4.000000
4,CC Sabathia,Major,2703,29,6,10,167.1,188,92,28,...,50,88,0,0,1,4.730000,1.424297,20.800000,18.900000,6.900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5890,Tom de Blok,Minor,4501,64,11,21,294.2,277,139,26,...,93,128,1,1,2,3.909502,1.255656,0.304204,0.187952,0.074699
5891,Adrian Alcantara,Minor,5312,95,22,24,372.0,346,213,48,...,149,187,3,3,11,4.524194,1.327957,0.254335,0.236250,0.092500
5892,Osvaldo Hernandez,Minor,5612,106,22,23,355.0,364,178,35,...,103,149,0,3,9,3.777465,1.312676,0.285980,0.212121,0.067194
5893,Parker Curry,Minor,4162,97,15,20,259.2,256,130,33,...,75,113,5,1,1,3.916560,1.274711,0.286280,0.250896,0.067204
5894,Victor Castaneda,Minor,5256,95,18,22,321.0,313,184,49,...,126,163,6,2,0,4.570094,1.367601,0.302895,0.245690,0.090517

In [32]:
#Creating Categorical Column ranking WHIP for each player

In [46]:
def whip_ranks(x):
    if x < 1.10:
        return 'Excellent'
    elif x < 1.20:
        return 'Above Average'
    elif x < 1.30:
        return 'Average'
    elif x < 1.40:
        return 'Below Average'
    else: 
        return 'Poor'
    
Pitchers['WHIP Rank'] = Pitchers['WHIP'].apply(whip_ranks)

In [47]:
Pitchers['WHIP Rank'].value_counts()

Poor             2421
Below Average    1662
Average          1467
Above Average     831
Excellent         526
Name: WHIP Rank, dtype: int64

In [35]:
# Creating nominal column for WHIP Rank

In [48]:
Pitchers["WHIP_Rank"] = Pitchers["WHIP Rank"].astype('category')
categories = ["Poor","Below Average","Average","Above Average","Excellent"]
Pitchers["WHIP_Rank"] = Pitchers["WHIP_Rank"].cat.reorder_categories(categories)
Pitchers["WHIP_Rank"] = Pitchers["WHIP_Rank"].cat.codes
Pitchers["WHIP_Rank"].value_counts()

0    2421
1    1662
2    1467
3     831
4     526
Name: WHIP_Rank, dtype: int64

In [37]:
# Creating a categorical column ranking ERA for each player

In [43]:
def era_ranks(x):
    if x < 3.00:
        return 'Excellent'
    elif x < 3.40:
        return 'Above Average'
    elif x < 3.75:
        return 'Average'
    elif x < 4.00:
        return 'Below Average'
    else: 
        return 'Poor'
    
Pitchers['ERA Rank'] = Pitchers['ERA'].apply(era_ranks)

In [44]:
Pitchers['ERA Rank'].value_counts()

Poor             3459
Average           956
Above Average     849
Excellent         848
Below Average     795
Name: ERA Rank, dtype: int64

In [45]:
Pitchers["ERA_Rank"] = Pitchers["ERA Rank"].astype('category')
categories = ["Poor","Average","Above Average","Excellent","Below Average"]
Pitchers["ERA_Rank"] = Pitchers["ERA_Rank"].cat.reorder_categories(categories)
Pitchers["ERA_Rank"] = Pitchers["ERA_Rank"].cat.codes
Pitchers["ERA_Rank"].value_counts()

0    3459
1     956
2     849
3     848
4     795
Name: ERA_Rank, dtype: int64

In [49]:
# Creating a nomial column for league

In [50]:
Pitchers['League'].value_counts()

Minor    5895
Major    1012
Name: League, dtype: int64

In [51]:
Pitchers["Leagues"] = Pitchers["League"].astype('category')
categories = ["Minor","Major"]
Pitchers["Leagues"] = Pitchers["Leagues"].cat.reorder_categories(categories)
Pitchers["Leagues"] = Pitchers["Leagues"].cat.codes
Pitchers["Leagues"].value_counts()

0    5895
1    1012
Name: Leagues, dtype: int64

In [52]:
#saving df as csv to use for preprocessing

In [53]:
Pitchers.to_csv('Pitchers_df.csv')

### Visualizations